<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475785635799-odogp4ea9hf7v43buidcq0ms6dujc5s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475785635799-odogp4ea9hf7v43buidcq0ms6dujc5s5</string>
	<key>API_KEY</key>
	<string>AIzaSyBLgF-2XVpddOrLva8DKwc1oS5LPIX3VmU</string>
	<key>GCM_SENDER_ID</key>
	<string>475785635799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.silasladislau.toystoall</string>
	<key>PROJECT_ID</key>
	<string>toys-to-all</string>
	<key>STORAGE_BUCKET</key>
	<string>toys-to-all.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475785635799:ios:f9ad0cd63e3f396b4e4d92</string>
</dict>
</plist>